:root {
  --primary-color: #1a43bf;
  --dark-blue: #43acfe;
  --blue: #ccebff;
  --white: #ffffff;
  --dark-purple: #8516cc;
  --purple: #a351d9;
  --bright-purple: #ffdeff;
}
body {
  font-family: "Krona One", sans-serif;
}
